h1,h2,h3,h4,h5,h6,p,span,div,a,html,body,input,textarea {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/***************************************/
/**** Styles for the home jumbotron ****/
/***************************************/

#homeJumbotron {
    background-image: url("./images/jumboTile.jpg");
    min-width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

#jumboOverlay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,1);
    
    -webkit-animation: fadeinBackground 2s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeinBackground 2s forwards; /* Firefox < 16 */
        -ms-animation: fadeinBackground 2s forwards; /* Internet Explorer */
         -o-animation: fadeinBackground 2s forwards; /* Opera < 12.1 */
            animation: fadeinBackground 2s forwards;
    /* background-color: rgba(0,0,0,0.4); */
    animation-delay: 1s;
}

#logo {
    /* background-image: url("./images/pxpLogo.png");
    height: 200px;
    width: 300px;
    background-position: center;
    background-size: cover; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index:2;
    opacity: 0.7;
    /* top: -45px;
    left:-70px; */
    opacity: 0;
    -webkit-animation: fadeinLogo 2s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinLogo 2s forwards; /* Firefox < 16 */
    -ms-animation: fadeinLogo 2s forwards; /* Internet Explorer */
    -o-animation: fadeinLogo 2s forwards; /* Opera < 12.1 */
    animation: fadeinLogo 2s forwards;
    animation-delay: 1s;
}

#logo img {
  height: 40px;
  padding: 10px;
}

#navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobileNav {
  display: none;
}

#mobileNavLinks {
  display: none;
}

.navItem {
  display:inline-block;
  padding-left: 20px;
}
.navItem a {
  text-decoration: none;
  color: black;
}

.navItem .inputBorder {
  margin: 0;
  width: 10px;
}

.navItem .inputBorder {
  background-color: black;
}

#jumboContent h1 {
  color: white;
  font-size: 100px;
  font-weight: 100;
  margin-top: -100px;
  text-shadow: 1px 1px black;
  -webkit-animation: fadeinLogo 2s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinLogo 2s forwards; /* Firefox < 16 */
    -ms-animation: fadeinLogo 2s forwards; /* Internet Explorer */
    -o-animation: fadeinLogo 2s forwards; /* Opera < 12.1 */
    animation: fadeinLogo 2s forwards;
}

.hexagon {
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: rgba(0,0,0,0);
    margin: 28.87px 0;
    border-left: solid 1px black;
    border-right: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 70.71px;
    height: 70.71px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 13.6447px;
  }
  
  .hexagon:before {
    top: -35.3553px;
    border-top: solid 1.4142px black;
    border-right: solid 1.4142px black;
  }
  
  .hexagon:after {
    bottom: -35.3553px;
    border-bottom: solid 1.4142px black;
    border-left: solid 1.4142px black;
  }

  .hexRow {
      min-width: 265px;
  }
  
  .hexRow .hexagon {
      float:left;
      margin-left: 2px;
  }

  .hexEvenRow {
      margin-left: 52px;
  }

  .hexEvenRow .hexagon, .hexNotBottom .hexagon {
      margin-bottom: 2px;
  }

  .hexWord {
    font-size: 20px;
  }

  @keyframes fadein {
    from { top: -300px; opacity: 0;}
    to   { top: 0; opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { top: -300px; opacity: 0;}
    to   { top: 0; opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { top: -300px; opacity: 0;}
    to   { top: 0; opacity: 1;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { top: -300px; opacity: 0;}
    to   { top: 0; opacity: 1;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { top: -300px; opacity: 0;}
    to   { top: 0; opacity: 1;}
}

@keyframes fadeinBackground {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: rgba(0,0,0,0.3);}
}

/* Firefox < 16 */
@-moz-keyframes fadeinBackground {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: rgba(0,0,0,0.3);}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinBackground {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: rgba(0,0,0,0.3);}
}

/* Internet Explorer */
@-ms-keyframes fadeinBackground {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: rgba(0,0,0,0.3);}
}

/* Opera < 12.1 */
@-o-keyframes fadeinBackground {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: rgba(0,0,0,0.3);}
}

@keyframes fadeinLogo {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadeinLogo {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinLogo {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Internet Explorer */
@-ms-keyframes fadeinLogo {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Opera < 12.1 */
@-o-keyframes fadeinLogo {
    from { opacity: 0;}
    to   { opacity: 1;}
}




/***************************************/
/***** Styles for the home content *****/
/***************************************/


@keyframes fadeinBackgroundBelow {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: #f7f7f7;}
}

/* Firefox < 16 */
@-moz-keyframes fadeinBackgroundBelow {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: #f7f7f7;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinBackgroundBelow {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: #f7f7f7;}
}

/* Internet Explorer */
@-ms-keyframes fadeinBackgroundBelow {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: #f7f7f7;}
}

/* Opera < 12.1 */
@-o-keyframes fadeinBackgroundBelow {
  from { background-color: rgba(0,0,27,1)}
  to   { background-color: #f7f7f7;}
}

#homeContentContainer {
  /* #25274D */
    background-color: rgba(0,0,0,1);
    padding: 0px 20px 50px 20px;
    position: relative;
    -webkit-animation: fadeinBackgroundBelow 2s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinBackgroundBelow 2s forwards; /* Firefox < 16 */
    -ms-animation: fadeinBackgroundBelow 2s forwards; /* Internet Explorer */
    -o-animation: fadeinBackgroundBelow 2s forwards; /* Opera < 12.1 */
    animation: fadeinBackgroundBelow 2s forwards;
    animation-delay: 1s;
    min-height: 1900px;
}

#content {
  opacity: 0;
  -webkit-animation: fadeinLogo 2s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinLogo 2s forwards; /* Firefox < 16 */
  -ms-animation: fadeinLogo 2s forwards; /* Internet Explorer */
  -o-animation: fadeinLogo 2s forwards; /* Opera < 12.1 */
  animation: fadeinLogo 2s forwards;
  animation-delay: 1s;
  min-width: 75%;
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
}

#firstSection {
  
  
  background-color: white;
  
  
  border-radius: 7px;
  text-align: center;
  
}

#firstSection h1 {
  font-size: 45px;
  font-weight: 100;
  padding: 60px 0 40px 0;
}

#firstDivider {
  width: 50%;
  height: 1px;
  background-color: gray;
  margin: 0 auto 80px auto;
}

#firstSectionPhoto {
  margin-top: 80px;
  background-image: url(images/yellow-utility-knives-1409215.jpg);
  width: 100%;
  height: 400px;
  background-position:center;
  background-size: cover;
  border-radius: 0 0 7px 7px;
}

#iconBanner {
  display: flex;
  justify-content: space-evenly;
}

.iconItem {
  width: 25%;
}

.iconItem:first-child i {
  color: #82B1FF;
}

.iconItem:nth-child(2) i {
  color: #FFD180;
}

.iconItem:last-child i {
  color: #78909C;
}

#iconBanner i {
  font-size: 100px;
  
}

#iconBanner h2 {
  font-weight: 100;
  margin-top: 20px;
}

#secondSection {
  display: flex;
  justify-content: space-between;
}

.secondSectionCard {
  width: 48%;
  height: 500px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 60px;
  font-weight: 100;
  color: white;
  text-decoration: none;
}

.card {
  box-shadow: 0px 4px 5px lightgray;
}

.underline {
  width: 0;
  height: 1px;
  background-color: white;
  transition: all 0.5s;
}

.card:hover .underline {
  width: 100%;
}

#backsplashImg {
  background-image: url(images/homeBacksplash.jpg);
  background-position: center;
  background-size: cover;
}

#showersImg {
  background-image: url(images/shower.jpg);
  background-position: center;
  background-size: cover;
}

#fireplacesImg {
  background-image: url(images/fireplace.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 60px;
  font-weight: 100;
  color: white;
  text-decoration: none;
}


/***************************************/
/************ Footer Styles ************/
/***************************************/

.footer {
  background-color: #181818;
  color: white;
  text-align: center;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form {
  display: inline-block;
}

.form h1 {
  margin-top: 30px;
  font-weight: 100;
}

.form h1, .form h3 {
  text-align: left;
}

.form h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.divider {
  width: 100px;
  height: 2px;
  background-color: white;
  margin: 10px 0;
}

.inputContainer {
  display: inline-block;
}

.inputRow {
  text-align: left;
}

.inputBorder {
  height: 1px;
  background-color: white;
  margin-bottom: 10px;
  width: 10%;
  transition: all 0.3s;
}

input {
  font-size: 15px;
  padding: 7px 5px;
  width: 200px;
  color: white;
  background-color: #0e0e0e;
  border: none;
  border-radius: 7px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input:focus, textarea:focus {
  outline: none;
}

input:focus ~ .inputBorder {
  width: 100%;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  padding: 5px 2px;
  font-size: 15px;
  resize: vertical;
  color: white;
  background-color: #0e0e0e;
  border: 1px solid white;
}

#SubmitButton {
  border: 1px solid white;
  font-size: 15px;
  padding: 5px 0;
  margin: 10px 0;
  transition: all 0.2s;
}

#SubmitButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

#Message, #ErrorMessage, #SuccessMessage {
  text-align: left;
  margin-top: 5px;
}

#ErrorMessage {
  color: red;
}

#SuccessMessage {
  color: #50C878;
}

.footerNav {
  text-align: left;
}

.footerNav .divider {
  width: 40%;
}

.footerNav a{
  color: white;
  text-decoration: none;
}

.footerNav .inputBorder {
  width: 20%;
}

.nav a:hover ~ .inputBorder {
  width: 100%;
}




.copyright {
  padding: 10px 0 10px 0;
  margin-top: 10px;
  border-top: 1px solid #2d2d2d;
}

@media only screen and (max-device-width: 1024px) {
  .navItem a{
    font-size: 30px;
  }

  #navContainer {
    display: none;
  }

  #mobileNav {
    display: flex;
    justify-content: space-between;
  }

  #logo {
    padding: 10px;
  }

  #hamburger i {
    font-size: 120px;
    margin-right: 50px;
  }

  #mobileNav img{
    height: 100px;
    margin-left: 30px;
  }

  .mobileNavLink {
    display: block;
    font-size: 50px;
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid black;
    text-decoration: none;
    color: black;
  }
  
  #homeJumbotron, #backsplashJumbo {
    background-attachment: scroll;
  }

  #homeContentContainer {
    padding-top: 250px;
  }

  .card {
    font-size: 40px;
  }

  .hexagonContent {
    position: relative;
    width: 800px; 
    height: 461.88px;
    margin: 230.94px 0;
  }
  
  .hexagonContent:before,
  .hexagonContent:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
  }
  
  .hexagonContent:before {
    bottom: 100%;
    border-bottom: 230.94px solid #29648a;
  }
  
  .hexagonContent:after {
    top: 100%;
    width: 0;
    border-top: 230.94px solid #29648a;
  }

  .hexContent h1 {
    font-size: 50px;
  }

  .hexContent a {
    font-size: 60px;
  }

  .rightMidLayerOn, .leftMidLayerOn {
    margin-top: 500px;
    flex-grow: 6;
  }

  .topLayerRight {
    left: 47%;
  }

  .topLayerLeft {
    right: 47%;
  }

  #section2 .hexagonContent {
    background-color: #2e9cca;
  }

  #section2 .hexagonContent:after {
    border-top: 230.94px solid #2e9cca;
  }

  #section2 .hexagonContent:before {
    border-bottom: 230.94px solid #2e9cca;
  }

  #section2 {
    margin-top: 800px;
  }

  #section3 .hexagonContent {
    background-color: #464866;
  }

  #section3 .hexagonContent:after {
    border-top: 230.94px solid #464866;
  }

  #section3 .hexagonContent:before {
    border-bottom: 230.94px solid #464866;
  }

  #section3 {
    margin-top: 800px;
  }
  #jumboContent h1 {
    font-size: 500%;
  }

  #middleSectionBackground {
    height: 1500px;
  }

  input {
    padding: 20px 7px;
  }

  input, textarea {
    width: 100%;
    font-size: 60px;
  }

  .inputBorder {
    height: 2px;
  }

  ::placeholder {
    padding-left: 10px;
  }

  #ErrorMessage, #SuccessMessage, #Message {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .inputContainer, textarea {
    width: 100%;
    margin-bottom: 30px;
  }

  .footerContainer {
    display: inline-block;
    width: 100%;
    padding: 80px;
    box-sizing: border-box;
  }

  textarea {
    min-height: 400px;
  }

  .form h1 {
    font-size: 80px;
    margin-bottom: 40px;
  }

  .form h3 {
    margin-top:40px;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
  }

  #SubmitButton {
    font-size: 40px;
  }

  .footerNav {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
  }

  .footerNavItem {
    display: inline-block;
  }
  .copyright {
    font-size: 30px;
  }
}