#backsplashJumbo {
    position: relative;
    overflow: hidden;
    background-image: none;
}

#backsplashJumbo::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    top: 0;
    left: -7%;
    z-index: -1;
    background: url(images/fireplace10.jpg);
    background-position: center;
    background-size: cover;
    transform: rotate(-1.75deg);
}


#img1 {
    background-image: url(images/fireplace11.jpg);
}

#img2 {
    background-image: url(images/fireplacee14.JPG);
}

#img3 {
    background-image: url(images/floor.jpg);
}

#img4 {
    background-image: url(images/floor1.jpg);
}

#img5 {
    background-image: url(images/fireplace10.jpg);
}

#img6 {
    background-image: url(images/floor2.jpg);
}

#img7 {
    background-image: url(images/floor3.jpg);
}