#backsplashJumbo {
    background-image: url(images/shower15.jpg);
}

#img1 {
    background-image: url(images/shower10.jpg);
}
#img2 {
    background-image: url(images/shower12.jpg);
}
#img3 {
    background-image: url(images/shower13.PNG);
}
#img4 {
    background-image: url(images/shower25.PNG);
}
#img5 {
    background-image: url(images/shower16.jpg);
}
#img6 {
    background-image: url(images/shower17.jpg);
}
#img7 {
    background-image: url(images/shower18.PNG);
}
#img8 {
    background-image: url(images/shower19.jpg);
}
#img9 {
    background-image: url(images/shower19.PNG);
}
#img10 {
    background-image: url(images/shower20.jpg);
}
#img11 {
    background-image: url(images/shower21.jpg);
}
#img12 {
    background-image: url(images/shower22.jpg);
}
#img13 {
    background-image: url(images/shower23.jpg);
}
#img14 {
    background-image: url(images/shower24.PNG);
}
#img15 {
    background-image: url(../images/shower.jpg);
}
#img16 {
    background-image: url(images/shower15.jpg);
}